h1 {
    background-color: #3d8080;
    color: white;
    font-size: 2em;
    font-weight: bold;
  
  }

h2 {

    text-decoration: underline; color:salmon;
    
}

.txt{
   
}

.title{
   font-weight:
}

li{
  display: inline;
}